# Variables

In [1]:
number = 20

In [2]:
number = 0.5

In [3]:
#Data type specification is not required. Python Automatically determine what data type is stored

In [4]:
name = "phil" #String
height = 180 # integer
weight = 70.5 #float

In [5]:
#We can display datatype using type()
print(type(name))

<class 'str'>

In [6]:
print(type(height))

<class 'int'>

In [7]:
print(type(weight))

<class 'float'>

# Comments in Python

In [8]:
# we use hash symbol for single line comments

In [1]:
"""
Triple
double quotes
like this for multiple line comments
""";

In [2]:
'''
Or
Triple single quotes
like 
this
for multiple
line
commennts
''';

In [3]:
'''
Operators in Python:
    Behaves much like other programming languages

''';

# Basic Data Types

### Numbers

In [11]:
x = 5

In [12]:
print(x+1)

6

In [13]:
print(x-1)

4

In [14]:
print(x*2)

10

In [15]:
print(x**2)

25

In [21]:
x+=1
print(x)

6

In [22]:
x*=2
print(x)

12

In [23]:
y = 2.5
print(type(y))

<class 'float'>

In [24]:
print(y,y+1,y*2,y**2)

2.5 3.5 5.0 6.25

In [25]:
#Python does not have unary increment (x++) or decrement (x--) operators

## Boolean

In [ ]:
# Uses english words instead of &&, ||

In [26]:
t = True
f = False
print(type(t))

<class 'bool'>

In [28]:
print(t and f) # and operator

False

In [29]:
print(t or f) # logical or operator

True

In [30]:
print(not t) # Logical not

False

In [31]:
print( t != f) # logical XOR

True

## Strings

In [4]:
'''
Text written in programming .
It is enclosed within either single or double quotes
''';

In [33]:
first = 'hello' #Single quote 
last = "world" # double quotes
print(first)
print(last)

hello
world

In [34]:
#len(string name) = get length of string
print(len(first))

5

In [35]:
#concatenation using + operator
fl = first + '' + last
print(fl)

helloworld

## Python Containers

In [5]:
'''
Lists:
    Containers that hold some other objects in a given order. Each element
    of the sequence is assigned an index, with index starting from zero
''';

In [38]:
list1 = ["phil","alex","claire"]
list2 = [1992,2018]
list3 = [180,5.5,60.33, "green","black","john"]

In [39]:
print(list3)

[180, 5.5, 60.33, 'green', 'black', 'john']

In [40]:
list3[2]

60.33

In [42]:
list3[2:5] #item at 5th index is exclusive

[60.33, 'green', 'black']

In [43]:
list3[4] = 'Hello'

In [44]:
list3

[180, 5.5, 60.33, 'green', 'Hello', 'john']

In [45]:
#Adding new item using append
list3.append("New element")

In [46]:
list3

[180, 5.5, 60.33, 'green', 'Hello', 'john', 'New element']

In [47]:
list3.pop()

'New element'

In [48]:
list3

[180, 5.5, 60.33, 'green', 'Hello', 'john']

In [50]:
# Slicing of Lists
"""
Accessing required part of list
"""
nums = [0,1,2,3,4]

In [51]:
print(nums[2:4])

[2, 3]

In [52]:
print(nums[2:])

[2, 3, 4]

In [53]:
print(nums[:2])

[0, 1]

In [54]:
print(nums[:])

[0, 1, 2, 3, 4]

In [56]:
print(nums[:-1]) #-1 refer to last index

[0, 1, 2, 3]

In [57]:
print(nums[-3:])

[2, 3, 4]

## Tuples

In [1]:
# immutable lists
tuple1 = (2,3,4,5,6)
tuple2 = (5,"hello",7,"world")

In [4]:
tuple2

(5, 'hello', 7, 'world')

In [5]:
tuple2[2]

7

In [6]:
tuple2[2] = 500

TypeError: 'tuple' object does not support item assignment

In [7]:
tuple2[2:4]

(7, 'world')

In [8]:
tuple2[-2:]

(7, 'world')

In [9]:
for x in tuple2:
    print(x)

5
hello
7
world

In [10]:
if 'hello' in tuple2:
    print("Yes it is present")

Yes it is present

In [11]:
len(tuple2)

4

In [12]:
#Concept of loopig and in works with lists as well

In [13]:
#Creating the tuple using tuple(()) constructor
list1 = [0,1,2,3,4]

In [14]:
type(list1)

list

In [15]:
tup = tuple((list1))

In [16]:
type(tup)

tuple

In [17]:
tup

(0, 1, 2, 3, 4)

## Sets

In [18]:
#Unordered and un indexed

In [1]:
set1 = {"apple","banana","cherry"}
print(set1)

{'banana', 'apple', 'cherry'}

In [2]:
#Accessing the set is not allowed
set1[2]

TypeError: 'set' object is not subscriptable

In [3]:
#add method to add elements to set
set1.add("Orange")

In [4]:
print(set1)

{'banana', 'apple', 'cherry', 'Orange'}

## Dictionaries

In [5]:
#Collection which are unordered and changable & indexed
#They have keys and values
thisdict = {'Bookname':'Python',
           'Price' : 210}
print(thisdict)

{'Bookname': 'Python', 'Price': 210}

In [6]:
#access with key name
thisdict['Price']

210

In [7]:
thisdict.get('Price')

210

In [8]:
#Modify the values using index
thisdict['Price'] = 500

In [9]:
thisdict

{'Bookname': 'Python', 'Price': 500}

In [10]:
#Can be looped
for x in thisdict:
    print(x)

Bookname
Price

In [11]:
#printing values in dict
for x in thisdict:
    print(thisdict[x])

Python
500

In [12]:
len(thisdict)

2

In [13]:
#adding new item to dict
thisdict['Apple'] = 'Iphone'

In [14]:
thisdict

{'Bookname': 'Python', 'Price': 500, 'Apple': 'Iphone'}

In [15]:
#using pop
thisdict.pop('Price')

500

In [16]:
thisdict

{'Bookname': 'Python', 'Apple': 'Iphone'}

In [17]:
thisdict.popitem()

('Apple', 'Iphone')

In [18]:
thisdict

{'Bookname': 'Python'}

In [19]:
#clear items in dict
thisdict.clear()

In [20]:
print(thisdict)

{}

In [21]:
thisdict = {'Bookname':'Python',
           'Price' : 210,
            'year' : 2019
           }

In [22]:
print(thisdict)

{'Bookname': 'Python', 'Price': 210, 'year': 2019}

In [23]:
#Copying the dictionary
new_copy = thisdict.copy()

In [24]:
print(new_copy)

{'Bookname': 'Python', 'Price': 210, 'year': 2019}

# Control Statements

In [ ]:
"""
Python Supports usual logical conditions from mathematics:
    1. Equals : a==b
    2. Not Equals : a!=b
    3. Less than : a<b
    4. Less than or equal to : a<=b
    5. Greater than : a>b
    6. Greater than or equal to : a>=b
"""

## If Statements

In [25]:
#if keyword
a = 300
b = 200
if a>b:
    print("a is greater than b") #Indentation

a is greater than b

In [26]:
a = 200
b = 300
if a>b:
    print("a is greater than b")
print("Outside the code block")

Outside the code block

In [27]:
a = 200
b = 300
if a>b:
print("a is greater than b")

IndentationError: expected an indented block (<ipython-input-27-29f1927afb88>, line 4)

In [28]:
#elif keyword
a = 200
b = 200
if a>b:
    print("a is greater than b")
elif a==b:
    print("a is equal to b")

a is equal to b

In [29]:
#else
a = 300
b = 200
if b>a:
    print("b is greater than a")
elif a==b:
    print("a is equal to b")
else :
    print("a is greater than b")

a is greater than b

In [30]:
#else without elif
a = 300
b = 200
if b>a:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

In [31]:
# and - or keyword with conditional statements
a = 300
b = 200
c = 500
if a>b and c>a:
    print("both condition satisfies")

both condition satisfies

In [32]:
a = 300
b = 200
c = 100
if a>b or c>a:
    print("either 1 condition satisfies")

either 1 condition satisfies

## Loops in Python

In [ ]:
"""
2 types:
    1. While
    2. For
"""

In [33]:
#While Loop -executes as long as condition is true

In [34]:
i = 1
while i<7:
    print(i)
    i += 1

1
2
3
4
5
6

In [35]:
#Break statement
i=1
while i<7:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [36]:
#Continue
#Stop current iteration and continue with next

i = 0
while i<7:
    i += 1
    if i==3:
        continue
    print(i)

1
2
4
5
6
7

In [37]:
#For Loop - can be used on List,tuple, dictionary,set ,string
fruits = ["apple","banana","cherry","strawberry"]
for x in fruits:
    print(x)

apple
banana
cherry
strawberry

In [38]:
for x in "strawberry":
    print(x)

s
t
r
a
w
b
e
r
r
y

In [39]:
#break is similar to while loop
fruits = ["apple","banana","cherry","strawberry"]
for x in fruits:
    if x == 'banana':
        break
    print(x)

apple

In [40]:
#Continue
fruits = ["apple","banana","cherry","strawberry"]
for x in fruits:
    if x == 'banana':
        continue
    print(x)

apple
cherry
strawberry

In [41]:
#Range --> range()
#default start - 0, increment - 1(default)

In [42]:
for x in range(7): #7 is exclusive
    print(x)

0
1
2
3
4
5
6

In [43]:
for x in range(2,7): 
    print(x)

2
3
4
5
6

In [44]:
for x in range(5,50,5): #increment with 5 
    print(x)

5
10
15
20
25
30
35
40
45

In [45]:
#Nested loops
colors = ["red","yellow","pink"]
fruits = ["apple","banana","cherry"]

for x in colors:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
yellow apple
yellow banana
yellow cherry
pink apple
pink banana
pink cherry

In [49]:
set1 = {"apple","banana","cherry"}

In [50]:
for x in set1:
    print(x)

banana
apple
cherry

# Functions in Python

 - Python functions are techniques are used to combine set of statements within a program
 - Help us make our Programs organized & Managable
 - Makes the code Reusable
 
     We can pass the data to function as - 'Parameters'
     
     Return the data from function as Result
     
     
To Create Function in Python:
            We use def Keyword

In [1]:
def function1():
    print("Hello I am from a function")

In [2]:
function1()

Hello I am from a function

In [3]:
#Adding the parameters to function inside paranthesis separated by comma
def my_add(num1,num2):
    print("sum is ",num1+num2)

In [4]:
my_add(2,3)

sum is  5

In [5]:
my_add(2)

TypeError: my_add() missing 1 required positional argument: 'num2'

In [6]:
#Set the parameter value to default
def my_add(num1,num2 = 5):
    print("sum is ",num1+num2)

In [7]:
my_add(2)

sum is  7

In [8]:
my_add(10,10)

sum is  20

In [9]:
#Function can accept the parameter of any data type like strings, number,list,dicionary,etc.
#It will be treated as the same in program/function

def my_function(things):
    for x in things:
        print(x)

In [10]:
fruits = ["apple","banana","cherry","strawberry"]
my_function(fruits)

apple
banana
cherry
strawberry

In [11]:
#Returning the value from function
def my_function(x):
    return 5*x

In [12]:
answer = my_function(10)

In [13]:
print(answer)

50

# Classes in Python

    Class - Object Constructor/Blueprint for creating objects
    We create class using 'class' keyword

In [14]:
class newclass:
    x = 10  #Attribute of the class

In [17]:
#accessing the attributes with class object
print(newclass.x)

10

In [19]:
#We can also create new objects
obj1 = newclass() #new object is created

In [20]:
obj1.x

10

In [21]:
# __init__ method - Assign values/Perform operations when new object is created
class Person:
    def __init__(self,name,age): #object itself is passed as first argument, hence - 'self'
        self.name = name
        self.age = age

In [22]:
obj = Person("Phil",50) #Passing parameters as expected by init method

In [23]:
print(obj.name)
print(obj.age)

Phil
50

In [24]:
#__init__ works similar to constructor in other Object Oriented Programs

In [25]:
#Methods - Functions inside the class - Can be accessed by the objects
class Person:
    def __init__(self,name,age): #object itself is passed as first argument, hence - 'self'
        self.name = name
        self.age = age
    
    def myfunc(self):
        print("Hello my name is ",self.name)

In [26]:
obj1 = Person("Alex",25)

In [27]:
obj1.name

'Alex'

In [28]:
obj1.age

25

In [31]:
obj1.myfunc() 
"""Calling just like attributes, make sure you pass parameter 
   to class method if you have mentioned any during creation""";

Hello my name is  Alex

In [32]:
#Modifying object attributes
obj1.name = 'Claire'

In [33]:
obj1.myfunc()

Hello my name is  Claire

In [34]:
#Deleting the objects
#del keyword

del obj1.age

In [35]:
print(obj1.age)

AttributeError: 'Person' object has no attribute 'age'

In [36]:
#Delete entire object
del obj1

In [37]:
obj1.name

NameError: name 'obj1' is not defined